@{
    ViewBag.Title = "Pizzicato";
}

<div class="jumbotron" ng-controller="homeCtrl">
    <div class="row">
        <div class="col-md-4 pizza" ng-repeat="pizza in pizzas">
            <h2>{{pizza.Name}}</h2>
            <div class="pizza-image">
                <img src="~/Resources/PizzaImages/{{pizza.Image}}" />
            </div>
            <div class="attr">
                <span class="cost">{{pizza.Cost}} UAH</span>
                <span class="weight">{{pizza.Weight}} g</span>
            </div>
            <div class="order-btn">
                <button type="button" class="btn btn-warning">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Order&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    
</div>