body {
    padding-top: 120px;
    padding-bottom: 20px;
    background-image: url("../Images/background.jpg");
    background-attachment: fixed;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.6);
}

.jumbotron {
    background-color: rgba(255, 255, 255, 0.6);
}

.phone {
    float: right;
    padding: 15px;
    padding-top: 20px;
}

.phone span, .phone i {
    display: block;
    font-size: 120%;
    font-weight: 600;
}

.pizza h2, .pizza-edit h2 {
    text-align: center;
    color: sienna;
    font-weight: 600;
    margin-bottom: 20px;
}

.pizza .pizza-image {
    text-align: center;
}

.pizza-edit .pizza-image {
    text-align: right;
}

.pizza {
    height: 450px;
}

.pizza-edit {
    height: 550px;
}

.pizza span, .pizza-edit span {
    font-size: 90%;
}

.weight {
    float: right;
}

.cost {
    float: left;
}

.attr {
    padding-left: 30px;
    padding-right: 30px;
    height: 35px;
}

.save-btn {
    float: left;
}

.delete-btn {
    float: right;
}

.pizza .form-group label, .pizza-edit .form-group label {
    font-weight: 400;
    font-size: 85%;
    padding-top: 0px;
}

.btns {
    padding-left: 20px;
    padding-right: 10px;
}